<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CreatePassword.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <CreatePassword.Properties.Settings>
            <setting name="Length" serializeAs="String">
                <value>64</value>
            </setting>
            <setting name="UseNumbers" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseSymbols" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseLowercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UseUppercase" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CopyToClipboard" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Top" serializeAs="String">
                <value>256</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>256</value>
            </setting>
        </CreatePassword.Properties.Settings>
    </userSettings>
</configuration>